<h2><%= @person.contact_info.full_name %></h2>

<% if @photos %>
  <h4>Photos:</h4>
  <ul>
    <% @photos.each do |photo_url| %>
    <li><a href="<%= photo_url %>">Photo <%= @photos.index(photo_url) + 1 %></a></li>
    <% end %>
  </ul>
<% end %>

<% if @person.social_profiles %>
  <h4>Social Media:</h4>
  <ul>
    <% @person.social_profiles.each do |profile| %>
    <li><a href="<%= profile.url %>"><%= profile.type_name %></a></li>
    <% end %>
  </ul>
<% end %>

<% if @person.demographics %>
  <h4>Location:</h4>
  <p><%= @person.demographics.location_general %></p>
<% end %>
